@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* montserrat-300 - latin_cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v14-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #000;
  height: 2000px;
}

a {
  -webkit-transition: color .3s linear, border .3s linear, opacity .3s linear;
  -o-transition: color .3s linear, border .3s linear, opacity .3s linear;
  transition: color .3s linear, border .3s linear, opacity .3s linear;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px #D1A954;
          box-shadow: 0 1px 4px #D1A954;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 5px 0;
}

.header__inner::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header__logo {
  display: block;
  position: relative;
  z-index: 20;
  width: auto;
}

.header__logo img {
  max-width: 70%;
}

.header .main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
}

.header .main__menu__link {
  display: block;
  color: inherit;
  border: 1px solid transparent;
  padding: 7px 5px 6px;
  margin: 0 8px;
}

.header .main__menu__link:first-child {
  margin-left: 0;
}

.header .main__menu__link:last-child {
  margin-right: 0;
}

.header .main__menu__link:hover {
  border-color: #D1A954;
  color: #D1A954;
}

.header .burger__menu {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
  position: relative;
  z-index: 20;
}

.header .burger__menu span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(19px);
      -ms-transform: translateY(19px);
          transform: translateY(19px);
  position: relative;
}

.header .burger__menu span::before,
.header .burger__menu span::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.header .burger__menu span::before {
  top: 6px;
}

.header .burger__menu span::after {
  bottom: 6px;
}

.header .burger__menu.active span {
  height: 0;
}

.header .burger__menu.active span::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
      -ms-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.header .burger__menu.active span::after {
  -webkit-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

@-webkit-keyframes menu {
  0% {
    top: -500%;
  }

  100% {
    top: 93%;
  }
}

@keyframes menu {
  0% {
    top: -500%;
  }

  100% {
    top: 93%;
  }
}

.slider-box {
  margin: 90px 0;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.slider-box .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
  position: relative;
}

.slider-box .slider__item {
  min-width: 0;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
}

.slider-box .slider__item__desc {
  display: block;
  max-width: 100%;
  max-height: 166px;
  background-color: rgba(209, 169, 84, 0.9);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  z-index: 1;
}

.slider-box .slider__item__desc .desc__content {
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.slider-box .slider__item__desc .desc__title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 21px 0 20px;
}

.slider-box .slider__item__desc .desc__text {
  font-size: 14px;
  margin-bottom: 22px;
  line-height: 1.3;
}

.slider-box .slider__img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-box .slick-list {
  overflow: hidden;
}

.slider-box .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-box .slick-arrow {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  position: absolute;
  top: 103%;
  z-index: 0;
  opacity: .6;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.slider-box .slick-arrow:hover {
  opacity: .8;
}

.slider-box .slick-arrow.slick-prev {
  left: 37%;
  -webkit-transform: translateX(37%);
      -ms-transform: translateX(37%);
          transform: translateX(37%);
  background: url("../img/offer/left-arrow.svg") no-repeat;
}

.slider-box .slick-arrow.slick-next {
  right: 37%;
  -webkit-transform: translateX(-37%);
      -ms-transform: translateX(-37%);
          transform: translateX(-37%);
  background: url("../img/offer/right-arrow.svg") no-repeat;
}

.slider-box .slick-dots {
  width: auto;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 103%;
  left: 50%;
  -webkit-transform: translate(-50%, 462%);
      -ms-transform: translate(-50%, 462%);
          transform: translate(-50%, 462%);
  background-color: #c4c4c4;
}

.slider-box .slick-dots li {
  display: block;
  width: 40px;
  height: 2px;
}

.slider-box .slick-dots li.slick-active {
  background-color: #000000;
  border-radius: 2px;
}

.slider-box .slick-dots li button {
  font-size: 0;
  display: block;
  width: 40px;
  height: 2px;
  padding: 10px 0;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  margin-top: -12px;
  z-index: 11;
}

.about {
  padding: 50px 0;
}

.about__video {
  display: block;
  width: 80%;
  max-width: 100%;
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  margin: 0 auto 90px;
  position: relative;
  z-index: 1;
}

.about__video img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.main-content__title {
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 21px;
}

.main-content__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.main-content__subtitle {
  font-size: 11px;
  letter-spacing: 0.03em;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 300px 0 50px;
  margin-top: -350px;
  background-color: #F9F7F7;
}

.description__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  height: auto;
  margin-right: 5%;
}

.description__left__img {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.description__left__text {
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.description__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: 5%;
}

.description__right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.description__right__row:last-child {
  margin-bottom: 0;
}

.description__right__item {
  width: 50%;
  margin: 0 15px;
}

.description__right__item:first-child {
  margin-left: 0px;
}

.description__right__item:last-child {
  margin-right: 0px;
}

.description__right__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 30px;
  margin-bottom: 20px;
}

.description__right__img {
  max-height: 100%;
  margin-right: 10px;
}

.description__right__title {
  font-size: 16px;
  text-transform: uppercase;
}

.description__right__text {
  font-size: 14px;
  line-height: 135%;
}

.portfolio .main-content {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 100px 0;
}

.portfolio .main-content__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.portfolio .main-content__subtitle {
  font-size: 9px;
}

.portfolio__row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__row .portfolio__img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 15px 30px;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  -webkit-transition: -webkit-filter .3s linear;
  transition: -webkit-filter .3s linear;
  -o-transition: filter .3s linear;
  transition: filter .3s linear;
  transition: filter .3s linear, -webkit-filter .3s linear;
}

.portfolio__row .portfolio__img:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.portfolio__row span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__row span .portfolio__img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.download {
  display: block;
  background: url(../img/about/about-bg.jpg) center center/cover no-repeat;
  height: 400px;
  margin: 100px 0;
}

.download__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__content {
  display: block;
  text-align: center;
}

.download__content__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 65px;
}

.download__content .btn {
  background-color: #fff;
  color: #000;
}

.download__content .btn:hover {
  color: #fff;
  background-color: #D1A954;
}

.download__content .btn:last-child {
  margin-left: 90px;
}

.btn {
  display: inline-block;
  background-color: #D1A954;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 22px 46px;
  color: #fff;
  margin-bottom: 20px;
  -webkit-transition: background-color .3s linear, color .3s linear;
  -o-transition: background-color .3s linear, color .3s linear;
  transition: background-color .3s linear, color .3s linear;
}

.contacts {
  margin-bottom: 50px;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -15px;
}

.contacts .contacts__inner__left {
  width: 60%;
  max-width: 100%;
  padding: 0 15px;
}

.contacts .contacts__inner__left__title {
  max-width: 100%;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts .contacts__inner__left__text {
  max-width: 85%;
  font-size: 14px;
  font-weight: 300;
  line-height: 135%;
  margin-bottom: 40px;
}

.contacts .contacts__inner__left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contacts__inner__left__row .address {
  display: block;
  width: 50%;
  max-width: 100%;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 40px;
}

.contacts .contacts__inner__left__row .address__title {
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contacts .contacts__inner__left__row .address__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-bottom: 10px;
}

.contacts .contacts__inner__left__row .address__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 10px;
}

.contacts .contacts__inner__left__row .address__phone a {
  color: inherit;
}

.contacts .contacts__inner__left__row .address__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts__inner__left__row .address__email a {
  color: inherit;
}

.contacts .contacts__inner__right {
  width: 40%;
  max-width: 100%;
  padding: 0 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts .contacts__inner__right .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .contacts__inner__right #name,
.contacts .contacts__inner__right #email,
.contacts .contacts__inner__right #message {
  display: block;
  width: 100%;
}

.contacts .contacts__inner__right #name,
.contacts .contacts__inner__right #email {
  color: #616161;
  border-bottom: 0.5px solid #D0D0D0;
  padding-bottom: 17px;
  margin-bottom: 25px;
}

.contacts .contacts__inner__right #message {
  min-height: 170px;
  resize: none;
  border: 0.5px solid #D0D0D0;
  margin: 10px 0 35px;
}

.contacts .contacts__inner__right #message:placeholder-shown {
  padding: 15px;
  color: #616161;
}

.contacts .contacts__inner__right .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 15px 40px;
  margin-bottom: 0;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.contacts .contacts__inner__right .btn:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  fill: #D1A954;
  margin-right: 15px;
}

.address__email > .icon {
  margin-left: 0;
}

.footer {
  background-color: #f8ecec;
  padding: 10px 0 5px;
  font-weight: 400;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content .social__group {
  margin-left: 10px;
}

.footer__content .social {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin: 0 5px;
  fill: #D1A954;
  border: 1px solid #D1A954;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.footer__content .social.vk:hover {
  fill: #0707a5;
}

.footer__content .social.facebook:hover {
  fill: #03035a;
}

.footer__content .social.instagram:hover {
  fill: #d10303;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .slider-box .slider__item__desc .desc__title {
    font-size: 20px;
    margin: 11px 0 10px;
  }

  .slider-box .slider__item__desc .desc__text {
    font-size: 13px;
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .header__logo img {
    max-width: 60%;
  }

  .slider-box .slider__item__desc .desc__title {
    font-size: 16px;
    margin: 11px 0 10px;
  }

  .slider-box .slider__item__desc .desc__text {
    font-size: 10px;
    margin-bottom: 12px;
  }

  .slider-box .slick-arrow.slick-prev {
    left: 35%;
    -webkit-transform: translateX(35%);
        -ms-transform: translateX(35%);
            transform: translateX(35%);
  }

  .slider-box .slick-arrow.slick-next {
    right: 35%;
    -webkit-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
            transform: translateX(-35%);
  }

  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 200px;
    margin-top: -250px;
  }

  .description__left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .description__right {
    width: 100%;
    margin-left: 0;
  }

  .portfolio .main-content {
    margin-bottom: 30px;
  }

  .portfolio__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio__row .portfolio__img {
    display: block;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contacts .contacts__inner__left {
    width: 50%;
    max-width: 100%;
  }

  .contacts .contacts__inner__left__title {
    font-size: 30px;
  }

  .contacts .contacts__inner__left__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts .contacts__inner__left__row .address {
    display: block;
    width: 100%;
  }

  .contacts .contacts__inner__left__row .address__restaurant {
    max-width: 76%;
  }

  .contacts .contacts__inner__right {
    width: 50%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header__logo img {
    max-width: 50%;
  }

  .header .main__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    height: 100vh;
    background-color: #D1A954;
    margin-top: 5px;
    padding-right: 5px;
    position: absolute;
    z-index: 5;
    overflow: auto;
    display: none;
  }

  .header .main__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: menu .3s linear;
            animation: menu .3s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .header .main__menu.active .main__menu__link:hover {
    border-color: #fff;
    color: #fff;
    opacity: .7;
  }

  .header .main__menu__link {
    margin: 5px 0;
    color: #fff;
    font-weight: 400;
  }

  .header .main__menu__link:last-child {
    margin-bottom: 0;
  }

  .header .burger__menu {
    display: block;
  }

  .slider-box {
    margin: 90px 0 45px;
  }

  .slider-box .slick-arrow.slick-prev {
    left: 45%;
    -webkit-transform: translateX(45%);
        -ms-transform: translateX(45%);
            transform: translateX(45%);
  }

  .slider-box .slick-arrow.slick-next {
    right: 45%;
    -webkit-transform: translateX(-45%);
        -ms-transform: translateX(-45%);
            transform: translateX(-45%);
  }

  .download__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download__content .btn:last-child {
    margin-left: 0;
  }

  .contacts .contacts__inner__left__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contacts .contacts__inner__left__row .address {
    font-size: 12px;
  }

  .contacts .contacts__inner__left__row .address__restaurant {
    max-width: 100%;
  }

  .contacts .contacts__inner__left__row .address__phone a {
    font-size: 12px;
  }

  .contacts .contacts__inner__left__row .address__email a {
    font-size: 12px;
  }

  .icon {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .slider-box {
    margin: 90px 0 0;
  }

  .about {
    padding: 50px 0 25px;
  }

  .about__video {
    width: 100%;
  }

  .description {
    padding-top: 150px;
    margin-top: -200px;
  }

  .portfolio__row .portfolio__img {
    width: 100%;
  }

  .download {
    margin: 50px 0;
  }

  .download__content__title {
    font-size: 24px;
  }

  .download__content .btn {
    font-size: 14px;
    padding: 15px 40px;
  }

  .contacts .contacts__inner__left__text {
    font-size: 12px;
  }

  .contacts .contacts__inner__left__row .address__title {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .slider-box .slider__item__desc .desc__title {
    font-size: 18px;
    margin: 11px 0 10px;
  }

  .slider-box .slider__item__desc .desc__text {
    font-size: 12px;
    margin: 11px 0 10px;
  }
}

@media (max-width: 568px) {
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts .contacts__inner__left {
    width: 100%;
  }

  .contacts .contacts__inner__left__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts .contacts__inner__left__row .address {
    width: 50%;
  }

  .contacts .contacts__inner__right {
    width: 100%;
  }

  .icon {
    margin-right: 5px;
  }

  .d-block {
    display: block;
    width: 100%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__content .social__group {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 475px) {
  .contacts .contacts__inner__left__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts .contacts__inner__left__row .address {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .description__right__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .description__right__item {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
  }

  .description {
    padding-top: 100px;
    margin-top: -150px;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .header .main__menu.active {
    display: none;
  }
}